
.search_bar {
    margin: 20px;
    /* width:80%; */
    justify-content: center;
}

.search_button {
    margin-bottom: 30px;
    background-color:#212529;
}

.card_wrapper {
    align-items: center;
}

