@font-face {
    font-family: burgerFont;
    src: url(../../fonts/Bob_Burgers_2.ttf) format("truetype") ;
}

h1 {
  font-family: burgerFont;
  /* font-size: 2em; */
  color:#f3ee0f;
  /* color:#ff051d */
  
}

a  {
  font-family: burgerFont;
  text-decoration: none;
  color:#f3ee0f;
  font-size: 1.5em;
}