@font-face {
    font-family: burgerFont;
    src: url(../../fonts/Bob_Burgers_2.ttf) format("truetype") ;
    font-weight:normal;
}

h1 {
  font-family: burgerFont;
  /* font-size: 2em; */
  color:#f3ee0f;
  /* color:#ff051d */
  
}

